body {
    font:0.9em 'trebuchet ms', verdana, sans-serif;
    line-height: 1.2em;
    background-color: #CCC;
    margin:0;
    padding:0;
    vertical-align : middle;
    text-align : center;
}
table {
    /*border: 1px solid #CCC;*/
    padding: 0;
    background-color:#FFF;
}
table noborder{
    padding: 0;
    background-color:#FFF; 
}
th{
    padding: 0.1em;
    font-size: 0.9em;
    font-style: bold;
}
td {
    padding: 0;
    font-size: 0.9em;
}

h1 {
    font-size:1.5em;
    line-height: 1em;
    font-weight: 900;
}
h1 a{
    text-decoration:none;
}

h3{
    font-weight: 900;
    padding: 0.2em;
    margin:0;
}
h3 a{
    text-decoration:none;
}
h2 a{
    text-decoration:none;
}
select{
    font:1em 'trebuchet ms', verdana, sans-serif;
    color:#000;
    background-color:#EEE;
    margin: 0.5em;
    padding: 0.2em;
    
}
select:focus{
    background-color:#DDD;
}
#header {
    height: 4em;
    width: 80%;
}
.results_title{
    padding:0.5em;
}
#recent_header{
    width: 99%;
    background: #FFF;
    border-bottom: 1px solid #EEE;
    padding-top: 1em;
    padding-right: 0;
    padding-bottom: 0.5em;
    padding-left: 0.3em;
}
# recent_header span{
    padding:0.5em;
}
#header_cls{
    padding:0.5em;
}
#header h1 {
    padding-top: 1em;
    font-size: 1.5em;
    font-weight: normal;
    color:#CC6600;
}

#container {
    background: url(dot-top.gif) top repeat-x; 
    width: 80%;
    margin-bottom: 5em;
    border-top: 1px solid #000;
    overflow: auto;

}
.font_read_normal{
    font:11px 'trebuchet ms', verdana, sans-serif;
    line-height: 1em;
    padding:0.4em;
    text-decoration:none;
}
.font_read_plus{
    font-size: 1.1em;
    line-height: 1.3em;    
    padding:0.4em
    text-decoration:none;
}
.font_read_bigger{
    font:14px 'trebuchet ms', verdana, sans-serif;
    line-height: 1em;
    padding:4px 4px 4px 4px;
    text-decoration:none;
}
#control_wrapper{
    padding:0.2em;
    border: 1px #DDD solid;
}
#wrapper{
    text-align:left;
    padding:0;
    margin: 2em auto;
    width:80%;
}
.home-title {
    margin-bottom: 1em;
    float:left;
    background:#FFF;
}
#footer{
    text-align:left;
    padding:0;
    margin: 0 auto;
    width:80%;
}
#detail_wrapper{
    padding:0px;
    margin: 0px;
    border: 1px solid #AAA; 
    background: #FFF;
    width:100%;
}
#font_control{
    padding: 0.5em;
    margin: 0.5em;
}
#control_menu{
    padding: 0.5em;
    margin: 0.5em;
    background-color:#FFF;
}
#control_menu_cache_link{
    padding: 1em;
    margin: 1em;
    background-color:#FFF;
}
#control_menu a{
    font-style: bold;
}
#control_menu_home{
    padding: 1em;
    background-color:#FFF;
    border-top: 1px solid #EEE;
    border-left:1px solid #EEE;
    border-right: 1px solid #EEE;
    width: 80%;
}
#my_account_menu{
    padding: 0.5em;
    margin: 0.5em;
    background-color:#FFF;
    border:#DDD 1px solid;
}
.detail_entry_title{
    font-size:1.2em;
}

.rc_link{
    color: #111;
    font-size:1.5em;
}


h2 {
    color: #AAA;
    font-size:1.2em;
    padding:0;
    margin:0;
}

#edit_tag{
    float:left;
}
#edit_button{
    float:left;
    padding: 1em;
    
}
#delete_button{
    float:right;
    padding: 1em;
}

a {
    color: #CC6600;
}

a:hover {
    color: #333;
}
div {
    clear: right;
}
form {
    min-height: 1.4em;
    font:0.9em 'trebuchet ms', verdana, sans-serif;
}
#the_file {
    /*font-family: monospace;*/
    font:0.9em 'trebuchet ms', verdana, sans-serif;
    border: 1px solid #BBB;
    background-color:#EEE;
    padding: 0.1em;
    color: #000;
    margin:0.5em;
    
}
input{
    /*font-family: monospace;*/
    font:1em 'trebuchet ms', verdana, sans-serif;
    border: 1px solid #BBB;
    background-color:#EEE;
    padding: 0.2em;
    color: #000;
    margin:0.5em;
    
}
.hideme{
    display:none;
}
.error_message {
    border: 1px solid #F00;
    padding: 0.5em;
    color: #000;
    width:50%;
    margin:0.5em;
    background:#FFF;
}
.notice_message {
    border: 1px dotted #CC6600;
    padding: 0.2em;
    color: #000;
    min-width:20%;
    margin:0.2em;
    background:#FFF;
}
.instructions {
    border: 1px solid #BBB;
    padding: 0.5em;
    color: #666;
    width:40%;
    margin:0.5em;
    
}
.instructions_wider {
    border: 1px solid #BBB;
    padding: 0.5em;
    color: #666;
    width:50%;
    margin:0.5em;
    
}
.instruct_label {
    border: 1px solid #CCC;
    padding: 0.5em;
    margin:0.5em;
    
}
.results_section {
    border: 1px solid #CCC;
    padding: 0.5em;
    margin:0.5em;
    overflow:auto;
}
.spider_results {
    border: 1px solid #CCC;
    padding:2em;
    color: #999;
    margin:0.5em;
    height:40%;
    width:40%;
    overflow:auto;
}
input: {
    border: 1px solid #AAA;
    background-color:#FFF;
    color: #000;
}
textarea:focus {
    border: 1px solid #AAA;
    background-color:#FFF;
    color: #000;
}
input:active {
    border: 1px solid #AAA;
    background-color:#FFF;
    color: #000;
}

input:focus {
    border: 1px solid #AAA;
    background-color:#FFF;
    color: #000;
}

textarea {
    font:1em 'trebuchet ms', verdana, sans-serif;
    border: 1px solid #BBB;
    background-color:#EEE;
    padding: 0.2em;
    margin:0.5em;
    color: #000;
}
textarea:active {
    background-color:#FFF;
    border: 1px solid #AAA;
}
#login_boundry {
    border-width: 0px;
    border: 1px solid #AAA;
    padding: 1em;
    width:100%;
    min-height:500px;
    background-color:#FFF;
}
#movie-list{
    font-size:1.3em;
}

#movie-list li{
    padding: 0.4em;
}

#login_boundry .message{
    min-height:50%;
    overflow: auto;
}
#loginxul_boundry {
    border-width: 0px;
    border: 1px solid #AAA;
    padding: 5px;
    width:300px;
    height:140px;
    background-color:#FFF;
}
#firefox_boundry {
    border: 1px solid #AAA;
    padding: 1em;
    width:100%;
    min-height:50%;
    background-color:#FFF;
}
#firefox_boundry ul{
 list-style-type: square;   
}
#firefox_boundry img{
    border: none;
}
#firefox_boundry .message{
    min-height:40%;
}
.imgbrdr{
    border: 1px solid #AAA;
}
#boundry {
    padding: 0.5em;
    min-height: 60%;
    width: 80%;
    background-color:#FFF;
    border-right: 1px solid #BBB;
    border-left:1px solid #BBB;
    border-bottom:1px solid #BBB;
    overflow: auto;
}
#boundry_edit {
    border-width: 0;
    padding: 0.5em;
    min-height: 60%;
    width: 80%;
    background-color:#FFF;
    overflow: auto;
}
pre {
    font:1em Tahoma,Arial,Helvetica,sans-serif;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    line-height:130%;
}
#detail_header{
    padding: 0.8em;
    background: #FFF;
    width: 90%;
    line-height: 1.5em;
}
#detail_header h2{
    padding-left: 0;
}
#detail_tags{
    padding: 0.7em 0.7em 0.7em 0.7em;
    background: #FFF;
    width: 97%;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}
#detail_tags span{
    font-style:bold;
}
#detail_tags tags{
    padding: 0em 1.5em 0.5em 1.5em;
    
}
.detail_link_list{
    padding: 0.5em;
}
.entry_detail_title a{
    font: bolder;
    padding: 1em;
}
.detail_tag{
    font: bolder;
    padding: 1em;
}
.entry_detail_id{
    font: bolder;
    padding-top: 1em;
    padding-left: 0;
}
.tr-light{
    background: #FFF;
}
.tr-dark{
    background: #EEE;
}
#link_table {
    width:100%
}
#text_content_boundry {
    padding: 10px 50px 50px 50px;
    width: 90%;
    min-height:40%;
    background-color:#FFF;
    overflow: visible;
    line-height:1.5em;
    font-size:1em;
}

#text_content_boundry label {
    font-weight:bold;
}
#cache_link_tags{
    padding: 2em;
    margin: 1em;
}
#text_content_boundry_cache_link {
    padding: 1em;
    min-width: 40%;
    min-height:40%;
    background-color:#FFF;
    overflow: hidden;
    line-height:135%;
}
#entries_content_boundry {
    padding: 0;
    width: 78%;
    min-height:50%;
    background-color:#EEE;
    overflow:hidden;
}
.cell_no_pad{
    padding:0;
    margin: 0;
}
.links_content_visible{
    border-top: 1px solid #DDD;
    border-left:1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 0;
    padding: 0.2em;
    width: 80%;
    background-color:#FFF;
    overflow: auto;
    height:4em;

}
.links_content_hidden{
    visibility:hidden;
    width: 0px;
    height:0px;
    display:none;
}
.links_content_button{
    visibility:visible;
}
.links_content_button_hide{
    visibility:hidden;
    width:0;
    height:0;
}
.restore_button{
    visibility:hidden;
}
.restore_button_show{
    visibility:visible;
}
.remove_button{
}
.remove_button_show{
    visibility:visible;
}
.restore_button_hide{
    visibility:hidden;
}
.entry_url_removed{
    text-decoration: line-through;
    color:#F00;
}
.entry_url{
    text-decoration: none;
    color:#000;
}
.hidden_input{
    display:none;
}
#new_tags{
    visibility:visible;
    /*display: none;*/
}
.new_tags{
    visibility:hidden;
}
.new_tags_visible{
    visibility:visible;
}
#hide_links{
}
#summary{
    overflow: auto;
    border-top: 1px solid #DDD;
    border-left:1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom:0;
    padding: 0.2em;
    width:80%;
    height:4em;
}
.summary_show{
    visibility:visible;
}
.summary_hidden{
    visibility:hidden;
    display:none;
}
.summary_text{
    
}
#inner_boundry {
    border-top: 1px solid #EEE;
    border-left:1px solid #EEE;
    border-right: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    padding: 0.4em;
    min-height: 50%;
    width: 80%;
    background-color:#FFF;
    overflow: auto;
}
#inner_boundry_search {
    border-width: 0;
    border-top: 1px solid #EEE;
    border-left:1px solid #EEE;
    border-right: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    padding: 0.5em;
    width: 80%;
    background-color:#FFF;
    overflow: auto;
}
#inner_boundry_cloud {
    border-width: 0px;
    border-top: 1px solid #EEE;
    border-left:1px solid #EEE;
    border-right: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    padding: 4px;
    height: 450px;
    width: 700px;
    background-color:#FFF;
    overflow: auto;
}
#inner_boundry_man_scrape {
    border-width: 0px;
    border-top: 1px solid #EEE;
    border-left:1px solid #EEE;
    border-right: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    width: 700px;
    background-color:#FFF;
    overflow: hidden;
}
#cloud_boundry {
    border-width: 0px;
    border-top: 1px solid #EEE;
    border-left:1px solid #EEE;
    border-right: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    padding: 2px;
    height: 400px;
    width: 700px;
    background-color:#FFF;
    overflow: auto;
}
#edit_entry_boundry {
    border-width: 0px;
    border-top: 1px solid #DDD;
    border-left:1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding: 0.2em;
    min-height: 40%;
    width: 80%;
    background-color:#FFF;
    overflow: auto;
}
#text_content {
    border-top: 1px solid #DDD;
    border-left:1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding: 1em;
    background-color:#FFF;
    overflow: auto;
    min-height: 50%;
}
.search_box{
    padding: 2em;
}
#detail {
    border: none;
    padding: 1em;
    background-color:#FFF;
    overflow: auto;
    min-height: 50%;
    width: 80%;
}
#detail_entry_text {
    border: none;
    padding: 0.2em;
    background-color:#FFF;
    overflow: auto;
    min-height: 30%;
    width: 98%;
}
#detail_entry_text_long {
    border: none;
    padding: 0.2em;
    background-color:#FFF;
    overflow: auto;
    max-height: 450px;
    width: 98%;
}
#detail_new_entry {
    border: none;
    padding: 0.2em;
    background-color:#FFF;
    overflow: auto;
    min-height: 50%;
    width: 98%;
}
#detail_activation {
    border: none;
    padding: 0;
    background-color:#FFF;
    overflow: auto;
    height: 50%;
    width: 80%;
}
#detail_search {
    border: none;
    padding: 0.2em;
    background-color:#FFF;
    overflow: auto;
    min-height: 400px;
    width: 98%;
}
#detail_wrapper {
    border: 1px solid #AAA;
    padding: 0;
    margin:0;
    width: 100%;
}
#detail_imgs {
    border: 1px solid #DDD;
    padding: 0.2em;
    background-color:#FFF;
    overflow: auto;
    min-height: 30%;
    width: 98%;
}
#detail_links {
    border: 1px solid #DDD;
    padding: 0.2em;
    background-color:#FFF;
    overflow: auto;
    min-height: 30%;
    width: 98%;
}
#detail_links_header {
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    padding: 0.1em;
    background-color:#EEE;
    overflow: none;
    min-height: 1.9em;
    max-height: 1.9em;
    min-width: 80%;
}
#detail_links_header ul {
    padding-bottom:0;
    padding-right:0;
    padding-left:0;
    padding-top:0.2em;
    margin:0;
}
#detail_links_header li {
    display: inline;
    padding-right:20%;
}
#detail_imgs_header {
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    padding: 0.1em;
    background-color:#EEE;
    overflow: none;
    min-height: 1.9em;
    max-height: 1.9em;
    min-width: 80%;
}


#detail_imgs_header ul {
    padding-bottom:0;
    padding-right:0;
    padding-left:0;
    padding-top:0.2em;
    margin:0;
}
#detail_imgs_header li {
    display: inline;
    padding-right:20%;
}




#results_detail {
    border-top: 1px solid #DDD;
    border-left:1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding: 0;
    background-color:#FFF;
    overflow: auto;
    width: 80%;
    min-height:30%;
}

#toolbar {
    border-top: 1px solid #DDD;
    border-left:1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom:0px;
    padding: 2px;
    background-color:#FFF;
    width: 700px;
}
#compact_list {
    padding: 0.1em;
}

#caching_status {
    border: 1px solid #DDD;
    padding: 2em;
    background-color:#FFF;
}

#url_submitted {
    border: 1px solid #DDD;
    padding: 1em;
    background-color:#FFF;
}
.info_list {
    padding: 0.2em;
}
label,input {
    
    display: block;
    float: left;
    margin: 0.5em;
    padding: 0.2em;
}
#search_button{
    margin-left: 1em;
}
.vlist_data{
  margin: 0.4em;  
}

label {
    text-align: left;
    width: 7em;
    padding-right: 1em;
}

br {
    clear: left;
}
textarea{
   /*font-family: monospace; */
}
#pub-menu {
    padding: 0px;
    margin: 0px;
    list-style: none;
    width: 100%;
    display: block;
    clear: left;
}
#pub-menu ul{
    margin: 0 0 0.3em 0.5em;
    padding: 0;
}
#pub-menu li {
    display: inline; 
    padding: 0.1em;
    background: #FFF;
    font-size:1em;
    border-top: 2px solid #FFF;
    border-right: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
}

#pub-menu li:hover {
    /*border-bottom: 2px solid #CC6600;
    border-right: 2px solid #CC6600;*/
}
#pub-menu li a {
    text-decoration: none;
    padding: 0.4em;
}
#pub-menu li a:hover {
    color: #CC6600;
    text-decoration: underline;
}

.pseudo-logo{
    padding:0; 
    margin:0.8em; 
    border: none; 
    background: #CCC; 
    color:#CC6600; 
    font-size:1.3em; 
    font-style: oblique; 
    font-family: Georgia, Verdana serif;
    border-style:none;
}

#nav{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    display: block;
}
#nav ul{
    margin: 0 0 0.3em 1em;
    padding: 0;
}
#nav li {
    display: inline; 
    padding: 0.4em;
    background: #EEE;
    border-top:  1px solid #AAA;    
    border-bottom: none;
    border-left: 1px solid #AAA;
    border-right:  1px solid #AAA;
    font-size:1em;
}
#nav li a {
    text-decoration: none;
    padding: 0.4em;
}
#nav li a:hover {
    padding: 0.4em;
    color: #333;
}
#nav li.active {
    padding: 0.4em;
    background:#FFF;
    color: #333;
}
#nav li.active a{
    color: #333;
}
#nav li.blend_in {
    background:#CCC;
    border-top:  1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right:  1px solid #CCC;
}

#sub_nav{
    background: #FFF;
    padding: 0.5em 1em 0.3em 0.3em;
    margin: 0;
    list-style: none;
    width: 80%;
    display: block;
    
}
#sub_nav li {display: inline;
    padding: 0.2em 0;
    background: #EEE;
    border-top:  1px solid #BBB;
    border-left: 1px solid #BBB;
    border-right:  1px solid #BBB;
}
#sub_nav li a {
    padding: 0.2em 1em;
    text-decoration: none;
}
#sub_nav li a:hover {
    padding: 0.2em 1em; 
    background:#FFF;
}
#sub_nav li a.active {
    padding: 0.2em 1em; 
    background:#FFF;
}

#main_content{
    background: #FFF;
}
.row_even{
    background:#FFF;
    padding: 3px;
}

.row_odd{
    background:#EEE;
    padding: 3px;
}
.row_even:hover{
    background:#DDD;
}

.row_odd:hover{
    background:#CCC;
}
#summaryPopUp{
    display:none;
}
.summaryPopUpVisible{
    visibility:visible;
    position:absolute;
    left:100px;
    top:150px;
    width:300px;
    height:200px;
    overflow:auto;
}
.invisible{
    display:none;
}
#recent_grid{
    padding: 0;
    border-top:  1px solid #FFF;
    border-bottom:  1px solid #EEE;
    border-left:  1px solid #EEE;
    border-right:  1px solid #EEE;
    width: 100%;
}
#recent_grid tr{
    padding: 0;
}
#recent_grid td{
    padding: 0.4em;
}
#recent_grid td:hover{
    color: #000 ;
}
#search_results_grid{
    padding: 0px;
    width:100%;
    min-height: 400px;    
    border: none;
}
.bold_header{
    font-weight:bolder;
}
.rss{
    background:#FF8000;
    border:1px solid #555;
    color: #FFF;
    font-style:normal;
    font-size: 0.9em;
    padding-right:0.4em;
    padding-left:0.4em;
    padding-top:0.1em;
    padding-bottom:0.1em;
    margin:0.5em;
    text-decoration:none;
}
.rss:hover{
    color:#FFF;
    border-bottom:1px solid #000;
    border-right:1px solid #000;
}
.button{
    background: #EEE;
    border: 1px solid #AAA;
    padding: 0.3em;
    margin:0;
/*    float: left; */
    text-decoration:none;
    min-width: 6em;
}
.button a{
    text-align:center;
}
.button:hover{
    color: #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}
.op_link{
    color:#000;
}
.misc_button{
    background: #EEE;
    border: 1px solid #CCC;
    padding: 0.2em;
    margin:0.3em;
    visibility:visible;
    text-decoration:none;
}
.edit_button{
    background: #EEE;
    border: 1px solid #CCC;
    padding: 0.2em;
    margin:0.3em;
}
.button_l{
    background: #EEE;
    border: 1px solid #CCC;
    padding: 0.2em;
    margin:0.3em;
    float: left;
    display: block;
}

.button_l:hover{
    background: #FFF;
}
.cloud_micro{
    font-size: 7px;
    color: #333;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.cloud_tiny{
    font-size: 8px;
    color: #333;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.cloud_small{
    font-size: 9px;
    color: #333;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
.cloud_med{
    font-size: 11px;
    color: #333;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
.cloud_big{
    font-size: 12px;
    color: #333;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;

}
.cloud_bigger{
    font-size: 13px;
    color: #333;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.cloud_huge{
    font-size: 17px;
    color: #333;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
.cloud_link{
    padding: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
}
.compact_li{
    padding:3px 3px 3px 3px;
    margin:2px 2px 2px 2px;
    display: inline; 
}
.compact_ul{
    padding:3px 3px 3px 3px;
    margin:2px 2px 2px 2px;
    display: inline; 
}

#tag_status{
    padding:0.5em;
    margin:0.5em;
    background:#CC6600;
    visibility:hidden;
}

.message{
    background: #FFC;
    padding: 1em;
    margin: 1em;
    border: 1px dashed #DDD;
    line-height: 1.7em;
}

#account_update{
    background: #FFC;
    padding: 2em;
    margin: 1em;
    border: 1px dashed #DDD;
    line-height: 1.7em;
    min-height: 30%;
}

.the_lists{
    background: #FFC;
    padding: 1em;
    margin: 1em;
    border: 1px dashed #DDD;
    line-height: 1.7em;
    font-size:1em;
}

#filter-menu{
    padding: 0.4em;
}
#filter-menu .selected{
    font-weight: bolder;
}
#filter-menu span{
    font-weight: bolder;
    font-size: 1.1em;
}
#filter-menu ul{
    display: inline;   
}
#filter-menu li{
    padding: 0.5em;
    display: inline;
}
.logo{
    padding:1.2em;
}
#dashboard_wrapper{
    background:#FFF;
    padding:1em;
    border: 1px solid #555;
}
#dashboard_wrapper td{
    padding: .3em;
}
#dashboard_wrapper table{
    width: 80%;
    border: 1px solid #AAA;
}
#text_content{
    max-width:40em; 
    max-height:30em;
    min-width:40em;
    min-height:30em;
    padding:0.3em;
    background:#EEE;
}
#text_content:focus{
    background:#fff;
    max-width:40em; 
    max-height:30em;
    min-width:40em;
    min-height:30em;
}
#colleague_list{
    padding:1em;
}
#colleague-table{
    border:1px #AAA solid;
    width: 60%;
}
#colleague-table td{
    padding:0.5em;
}
#colleague-table tr{
    border:1px #AAA solid;
}
#colleague_research_tags{
    border: 1px solid #BBB;
    margin: 0.5em;
    padding: 1em 1em 1em 1em;
    min-height:10em;
    max-width: 60;
    max-height: 40%;
    overflow: auto;
    line-height:1.4em;
}
#colleague_research_search{
    border: 1px solid #BBB;
    margin: 0.5em;
    padding: 1em 1em 1em 1em;
    min-height:10em;
    max-height: 40%;
    overflow: auto;
    line-height:1.4em;
}
#colleague_commentary{
    border: 1px solid #BBB;
    margin: 0.5em;
    padding: 0em 1em 1em 1em;
    min-height:10em;
    max-width: 60%;
    max-height: 40%;
    overflow: auto;
    line-height:1.4em;
}
