{% extends "account.html" %}
{% block js %}
{% endblock %}
{% block account_title %}
<h1>Thank You for applying for an rCache account.</h1>
{% endblock %}

{% block account_content %}
<p>
<ul>
  <li>An email has been sent to you confirming your application.</li>
  <li>When your account is created, another email will notify you of your new account.</li>
</ul>
<br />
<h1>Step 2:</h1>
<p>
<h4>Install rCache Collector for Firefox</h4>
<strong><a href="/about/#collector">rCache Collector</a></strong> is a Firefox Extension or "Add-on" that makes it easy to select information on a web page and quickly categorize and save that data in your rCache database.
<br />
<h4>Click this link to <a href="/media/rcache.xpi">Install rCache Collector</a>.</h4>
<a href="http://getfirefox.com/" target="_new">Firefox</a> is highly recommended for rCache use, in fact we have not really tested rCache on other browsers due to a lack of cross-platform extensibility. Take a look at the incredible <a href="http://www.mozilla.com/en-US/firefox/features.html#experience" target="_new">feature set</a> of Firefox.
<br />
<br />
Thank you for your interest.
<br />
The rCache team.
</p>
{% endblock %}
