<SCRIPT SRC="/media/js/rcachelib.js"></SCRIPT>
{% block mochi %}
<SCRIPT SRC="/media/js/MochiKit/MochiKit.js"></SCRIPT>
{% endblock %}
{% block dojo %}
<SCRIPT SRC="/media/js/dojo/dojo.js"></SCRIPT>
{% endblock %}
{% block yui %}
<script type="text/javascript" src="/media/js/yui/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="/media/js/yui/dom/dom-min.js"></script>
<script type="text/javascript" src="/media/js/yui/event/event-min.js"></script>
<script type="text/javascript" src="/media/js/yui/connection/connection-min.js"></script>
<script type="text/javascript" src="/media/js/yui/animation/animation-min.js"></script>
<script type="text/javascript" src="/media/js/yui-ext.js"></script>
{% endblock %}
