{% extends "login.html" %}
{% block js %}
{% endblock %}
{% block body %}
<body>
{% endblock %}
{% block content %}

<div id="login_boundry">
  {% include "pub-menu.html" %}
  
  <div class="message">
    <h4>Forgotten Password</h4>
    <p>
  {% if email_sent %}
  {% if message %}
  <div class="error_message">{{ message }}</div>
  {% endif %}
  </p>
  {% else %}
  Please enter your email address. You will be sent directions to update your password.
  {% if message %}
  <div class="error_message">{{ message }}</div>
  {% endif %}
  </p>
  <form action="/accounts/password/" method="POST">
  <label for="email">Email Address </label>
  <input type="text" name="login" maxlength="60" size="20"/>
  <br />
  <label for="loginbutton">&nbsp;</label>
  <input type="submit" name="loginbutton" value="Change Password"/>
  </form>
  {% endif %}
 </div>
</div>

{% endblock %}
{% block getfirefox %}
{% endblock %}
