.frontpage-cols {
}

.frontpage-cols div {
	float:left;
	min-width:200px;
	margin-top:32px;
	padding-right:32px;
	padding-left:32px;
}
.frontpage-cols .col-archive, .frontpage-cols .col-index {
	margin-right:48px;
} 
.frontpage-cols .title {
	padding:0px;
}
.frontpage-cols .body {
	line-height:22px;
}
.frontpage-cols li {
	margin:0px 0px 16px 0px;
}
.col-index {
    float:right;
    max-width:25%;
    width:25%;
}
.col-share {
    float:right;
    max-width:25%;
    width:25%;
}
.col-archive {
    max-width:25%;
    width:25%;
}
