.frontpage-cols {
}

.frontpage-cols div {
	float:left;
	min-width:200px;
	margin:32px 0px;
}
.frontpage-cols .col-archive, .frontpage-cols .col-index {
	margin-right:48px;
} 
.frontpage-cols .title {
	padding:0px;
}
.frontpage-cols .body {
	line-height:22px;
}
.frontpage-cols li {
	margin:0px 0px 16px 0px;
}
