.home-subtitle,#pub-menu li {
	font-family:'Georgia sans-serif', sans-serif;
}
.home-title {
	position:relative;
}
.home-title li {
    border-bottom:1px solid #aaa;
    border-right:1px solid #aaa;
    border-left:1px solid #aaa;
    font-family:'Georgia sans-serif', sans-serif;
    text-align:center;
}
.home-title a {
}
.home-subtitle {
    font-size:8px;
    text-transform:uppercase;
    letter-spacing:2px;
    padding-bottom:4px;
}


#pub-menu-header {
	padding:32px 32px 8px 32px;
	position:relative;
/*	background:#3F341D;*/
	background:#1F0F03;
}

.login-wrapper {
	display:none;
	position:absolute;
	right:24px;
	top:0px;
	padding:16px 8px 8px 8px;
	background:#272115;
}

#login-form{
}

#login-form input{
font-size:12px;
}

#pub-menu {
    padding:3px 0px;
	background:#682408;
	clear:both;
}
#pub-menu-header .pub-nav {
    position:absolute;
    right:24px;
	bottom:0px;
}
#pub-menu-header li {
}

#pub-menu-header li.login {
	background:#85795F;
	cursor:pointer;
}
  

#pub-menu-header li a {
    text-decoration: none;
    color:#CFC3A7;
}
#pub-menu-header li a:hover {
    color:#ffffff;
    text-decoration: underline;
}

.pub-nav {
    padding:0;
    margin:0px 0px 0px 0px;
	position:absolute;
	right:232px;
	bottom:0px;
}
.pub-nav li {
    float:left; 
    font-size:12px;
    padding:8px 12px;
	background:#A04D00;
	margin-left:4px;
}
#nav-wrap {
	position:absolute;
	top:48px;
	right:16px;
	width:200px;
	z-index:1000;
}


#nav{
    padding:0;
    margin:0px 0px 0px 0px;
	position:absolute;
	right:232px;
	bottom:0px;
}
#nav ul {
    margin:0px;
    padding:0px;
}
#nav ul li {
    float:left; 
    font-size:12px;
    padding:6px 12px 5px 12px;
	background:#A04D00;
	margin-left:4px;
}

#user-nav li a {
    text-decoration: none;
}

#nav li a {
    text-decoration: none;
	color:#000;
}
#nav li a:hover {
    color: #fff;
}
#nav li.active {
    color: #333;
}
#nav li.active a{
    color: #333;
}
#nav li.blend_in {
    background:#CCC;
    border-top:  1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right:  1px solid #CCC;
}

#user-nav {
	font-size:18px;
    position:absolute;
    top:16px;
    right:232px;
    padding-bottom:8px;
}

#user-nav li {
}
#user-nav .logout a {
	color:#000;
}
#search-nav ul{
padding:0;
margin:0;
}
#search-nav li{
padding:0;
margin:0;
}
#search-nav form{
padding:0;
margin:0;
}
#search-inpt {
	width:180px;
	background-color:#ffffff;
	border:1px solid #272115;
	color:#000;
	padding:3px;
	font-size:12px;
}

#search-nav {
    font-size:12px;
    color:#000;
    padding:0px 0px 16px 0px;

	}
#login-list li{
    display:inline;
    padding:0;
    margin:0;
}

#login-list input{
    margin:0;
    padding:0;
}

#login-list{

    margin-top:8px;
}


ul.nav-edit {
	position:absolute;
	top:32px;
	left:0px;
}
ul.nav-edit li {
	margin-bottom:2px;
	background:#ccc;
	padding:6px 6px 4px 6px;
}

ul.nav-edit li a {
	color:#E2DEBF;
}
