.home-subtitle,#pub-menu li {
	font-family:'Georgia sans-serif', sans-serif;
}
.home-title {
}
.home-title li {
    border-bottom:1px solid #aaa;
    border-right:1px solid #aaa;
    border-left:1px solid #aaa;
    font-family:'Georgia sans-serif', sans-serif;
    text-align:center;
}
.home-title a {
}
.home-subtitle {
    font-size:8px;
    text-transform:uppercase;
    letter-spacing:2px;
    padding-bottom:4px;
}


#pub-menu-header{
	padding:32px 32px 8px 32px;
	position:relative;
	background:#3F341D;
}

.login-wrapper {
	display:none;
	position:absolute;
	right:24px;
	top:0px;
	padding:16px 8px 8px 8px;
	background:#272115;
}

#login-form{
}

#login-form input{
font-size:12px;
}

#pub-menu {
    padding:3px 0px;
	background:#85795F;
	clear:both;
}
#pub-menu-header ul {
    position:absolute;
    right:24px;
	bottom:0px;
}
#pub-menu-header li {
    float:left;
    font-size:12px;
    padding:8px 12px;
	background:#272115;
	margin-left:4px;
}

#pub-menu-header li.login {
	background:#85795F;
	cursor:pointer;
}
  

#pub-menu-header li a {
    text-decoration: none;
    color:#CFC3A7;
}
#pub-menu-header li a:hover {
    color:#ffffff;
    text-decoration: underline;
}
#nav{
    padding:0;
    margin:0px 0px 0px 0px;
    display: block;
}
#nav ul {
    margin:0px 16px 0px 0px;
    padding:0px;
}
#nav li {
    float:right; 
    padding: 0.4em;
    background:#ddd;
    border-top:1px solid #AAA;    
    border-bottom: none;
    border-left:1px solid #AAA;
    border-right:1px solid #AAA;
    font-size:1em;
    margin-left:8px;
}

#user-nav li a {
    text-decoration: none;
    padding: 0.4em;
}

#nav li a {
    text-decoration: none;
    padding: 0.4em;
}
#nav li a:hover {
    padding: 0.4em;
    color: #333;
}
#nav li.active {
    padding: 0.4em;
    background:#FFF;
    color: #333;
}
#nav li.active a{
    color: #333;
}
#nav li.blend_in {
    background:#CCC;
    border-top:  1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right:  1px solid #CCC;
}

#user-nav {
    position:absolute;
    top:0px;
    left:0px;
}

#user-nav li {
    float:left;
    margin-right:4px;
    padding:5px 8px;
    background-color:#ddd;
    font-size:13px;
    border-bottom:1px solid #aaa;
    border-top:none;
    border-right:1px solid #aaa;
    border-left:1px solid #aaa;
}

#search-nav{
padding:0;
margin:0;
}

#search-nav ul{
padding:0;
margin:0;
}
#search-nav li{
padding:0;
margin:0;
}
#search-nav form{
padding:0;
margin:0;
}

#search-nav{
padding:0;
margin:0;
}

#search-nav{
    position:absolute;
    top:0px;
    left:300px;

    padding:-1px;
    font-size:12px;
    font-family:'sans-serif';
    color:#000;
    background:#fff;
}
#login-list li{
    display:inline;
    padding:0;
    margin:0;
}

#login-list input{
    margin:0;
    padding:0;
}

#login-list{

    margin-top:8px;
}
