.page-cols {
}

.page-cols div {
	float:left;
	width:240px;
	margin-top:32px;
	padding-right:48px;
	padding-left:32px;
}
.page-cols .col-archive, .frontpage-cols .col-index {
	margin-right:48px;
} 
.page-cols .title {
	padding:0px;
}
.page-cols .body {
	line-height:22px;
	font-family:Georgia, Serif;
}
.page-cols li {
	margin:0px 0px 16px 0px;
}

.col-agreement{
margin:32px;
padding:8px;
}
