h1,h2,h3,h4,h5,h6,table,td,tr,th {
	margin:0px;
	padding:0px;
}
a {
    color: #666;
}

a:hover {
    color: #333;
}

form {
    margin:0;
    padding:0;
}
table {
    background-color:#FFF;
}
table noborder{
    background-color:#FFF; 
}
th{
    padding: 0.1em;
    font-size: 0.9em;
    font-style: bold;
}
td {
    padding: 0;
    font-size: 0.9em;
}

h1 {
    font-family:FreeSans,Arial, Helvetica,Sans,"Lucida Grande",Verdana, Serif;
    font-size:32px;
    font-weight:normal;
    color:#666;
}
h1 a {
    text-decoration:none;
}

h3{
    font-weight: 900;
    padding: 0.2em;
}
h3 a{
    text-decoration:none;
}
h2 a{
    text-decoration:none;
}
select{
    font: 0.9em 'Lucida Grande',sans-serif;
    color:#000;
    background-color:#EEE;
    margin: 0.5em;
    padding: 0.2em;
    
}
select:focus{
    background-color:#DDD;
}
ul { 
	list-style:none;
	padding:0px;
	margin:0px;
}
br.clearit {
	clear:both;
	line-height:0;
	height:0px;
}
img {
	border:0;
}
input{
    /*font-family: monospace;*/
    border: 1px solid #BBB;
    color: #000;
    margin:4px;
    font-size:12px;
}
input:hover {
    border: 1px solid #AAA;
    background-color:#FFC;
    color: #000;
}
textarea:focus {
    border: 1px solid #AAA;
    background-color:#FFC;
    color: #000;
}
input:active {
    border: 1px solid #AAA;
    background-color:#FFC;
    color: #000;
}

input:focus {
    border: 1px solid #AAA;
    background-color:#FFC;
    color: #000;
}

textarea {
    border: 1px solid #BBB;
    background-color:#EEE;
    padding: 0.2em;
    margin:0.5em;
    color: #000;
}
textarea:active {
    background-color:#FFF;
    border: 1px solid #AAA;
}
pre {
    font:1.2em Georgia,Serif,Tahoma,Arial,Helvetica,sans-serif;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    line-height:140%;
	margin-top:32px;
}
input,textarea {
}
label {
    padding:0px 0px;
}

br {
    clear: left;
}
input,textarea {

}
h1{
font-size:24px;
}
