.viz-tag-box{float:left; margin:4px; padding:4px; border:1px solid #391608; cursor:pointer; }
#viz-outer-box{margin:64px;padding:0;width:400px;height:400px; float:left; overflow:auto;}
#viz-detail-box{margin:64px;padding:8px; float:left; border:1px solid red;}
