{% extends "base.html" %}
{% block title %}
rCache.com - Error: 404 - Cannot locate that resource
{% endblock %}
{% block body %}
<body>
{% endblock %}
{% block content %}
<div id="nav">
  <ul>
    <li><a href="/new">New</a></li>
    <li><a href="/recent">Recent</a></li>
    <li><a href="/search">Search</a></li>
    <li><a href="/logout">Logout</a></li>
    <li>{{ user.first_name }} {{ user.last_name }}</li>
  </ul>
</div>
<div id="detail">
  <p class="message">Error: 404, Entry could not be found.
  <br/><br/>

  </p>
</div>

{% endblock %}
