{% extends "firefox.html" %}
{% block js %}
{% endblock %}
{% block content %}
<a name="top"></a>
<div id="firefox_boundry">
  {% include "pub-menu.html" %}
  
  <div class="message">
    <h1>About rCache</h1>
    <UL style="list-style-type:square;">
    <LI CLASS="info_list">rCache is a powerful tool that lets you archive data from disparate sources.</LI>

    <LI CLASS="info_list">It is a web scraper, a bookmarking tool and more.</LI>
    <LI CLASS="info_list">Tag-based lookups as well as keyword searches can be performed on your data.</LI>
    <LI CLASS="info_list">Not a social site: rCache is for the serious researcher.</LI>
    <LI CLASS="info_list">rCache is that always-there place to store data that you want to refer back to.</LI>
    <LI CLASS="info_list">rCache works hand in glove with the best of breed web browser, Firefox&trade;</LI>
  </UL>
   <a href="http://getfirefox.com/"
title="Get Firefox - Web browsing redefined."><img
src="http://www.mozilla.org/products/firefox/buttons/getfirefox_large2.png"
width="178" height="60" border="0" alt="Get Firefox" target="_new"></a>
  <br />
  <h3><a href="#rcache">rCache Screenshots</a></h3>
  <br/>
  <a name="collector"></a>
    The <strong>rCache Collector</strong> Firefox extension makes entering data into your rCache database fast and trivial.
    <br />
    <a href="/media/rcache.xpi"><strong>Install</strong></a> the rCache Collector extension.
    <ul>
      <li>Select an area on a web page by clicking and dragging your mouse.</li>
      <li>Click on the <i>rCache Collector</i> icon <img src="/media/img/database_save.png" border="0"/> on the status bar of your Firefox browser.</li>
      <li>Enter <i>Tags</i> (comma delimited)</li>
      <li>Click <i>Continue</i> </li>
      <li>Your selection is entered into the database, and the rCache Collector window goes away, unobtrusively.</li>
    </ul>
  </div>
  <div class="screenshot">
    <h4>rCache Collector Firefox&trade; Extension</h4>
    <img src="/media/img/ffext_screen.png" width="500" height="427"
    style="display:table-cell;vertical-align:middle;padding-top:0px; padding-right:25px; padding-left:25px; margin: 10px; border:none"/>
  </div>
  <a name="rcache"></a>
  <h1>rCache Screenshots</h1>
  
  <div class="screenshot">
    <h4>rCache Detail Screen</h4>
    <a href="#top">Back to Top</a>
    <img src="/media/img/detail.png" width="500" height="676"
    style="display:table-cell;vertical-align:middle;padding-top:0px; padding-right:25px; padding-left:25px; margin: 10px; border:none"/>
  </div>

  <div class="screenshot">
    <h4>rCache New Entry Screen</h4>
    <p>A new entry can be text, Microsoft Word &trade; or PDF documents. The text is scraped from the docs and added to the database and internal search engine index.</p>
    <a href="#top">Back to Top</a>
    <img src="/media/img/new_entry.png" width="500" height="575"
    style="display:table-cell;vertical-align:middle;padding-top:0px; padding-right:25px; padding-left:25px; margin: 10px; border:none"/>
  </div>

  <div class="screenshot">
    <h4>rCache Search Engine</h4>
    <p>All of the text in your rCache database is indexed and searchable. rCache sorts the results by relevance.</p>
    <a href="#top">Back to Top</a>
    <img src="/media/img/search_results.png" width="500" height="301"
    style="display:table-cell;vertical-align:middle;padding-top:0px; padding-right:25px; padding-left:25px; margin: 10px; border:none"/>
  </div>
  
</div>
{% endblock %}
