{% extends "firefox.html" %}
{% block content %}
<div id="firefox_boundry">
 <div class="message">
    <h1>rCache.com - Create Account</h1>
   <p>
   rCache is free and easy to use. We are accepting applications for a Beta Test period. We only have a few slots available, so if you are a serious researcher, and think you will benefit from rCache, apply today.
   <br />
   <a href="http://getfirefox.com/" target="_new">Firefox</a> is highly recommended for rCache use, in fact we have not really tested rCache on other browsers due to a lack of cross-platform extensibility.
   <br />
   </p>

   <h1>Step 1:</h1>
   <p>
   <h4>Enter your email address here to apply.</h4>
   <form action="." method="POST">
   <label for="id_email"><strong>Email Address</strong></label>
   <input id="id_email" type="text" name="email" size="32" maxlength="32" />
   <br />
   <p>*rCache will not disclose your email address to any other entity.
   <br /><br />
   Before using rCache, you will have to accept the <a href="/agreement/" target="_new">rCache User Agreement</a>
   </p>
   <br />
   <label for="research_type">What kind of research are you doing?</label>
   <textarea id="research_type" name="research_type" cols="30" maxlength="255" rows="1"></textarea>
   <br />
   <label for="id_submit">&nbsp;</label>
   <input id="id_submit" type="submit" value="Apply for Account" />
   </form>
   <br />
   </p>
   <h1>Step 2:</h1>
   <p>
   <h4>Install rCache Collector for Firefox</h4>
   <strong>rCache Collector</strong> is a Firefox Extension or "Add-on" that makes it easy to select information on a web page and quickly categorize and save that data in your rCache database.
   <br />
   <h4>Click this link to <a href="/media/rcache.xpi">Install rCache Collector</a>.</h4>
   You will not be able to use the rCache Collector until your account has been activated. An email will be sent to you when you apply and when you are approved.
   <br />
   <h4>Thank you for your interest.</h4>
   </p>
 </div>

</div>
{% endblock %}
