{% extends "account.html" %}
{% block js %}
{% endblock %}
{% block account_title %}
<h1>rCache End User Agreement</h1>
{% endblock %}
{% block account_content %}
<p>
rCache is &copy; Copyright 2005,2006,2007 David Dahl, david at ddahl dot com.
<br />
<pre>
This is the end user license agreement for rCache.com.

Creating an account and using the software indicates your agreement to the terms of this license. If you do not agree to the terms of this license you must request that your account be terminated.

You may use rCache.com without charge. However, this is subject to change at any time. If rCache.com begins to charge for the use of the site, you will be able to export all of your data without penalty.

EULA

To create an account, go to https://collect.rcache.com/account/

Under this Agreement you may:

Create a single account on rCache.com, for use by you only.

If it is determined that you have created more than one account your accounts will be suspended until further notice. If you attempt to automate the caching process your account will be suspended and removed from the system.

If your account takes up more than it's fair share of disk space or processor time, you may have to get your own server to run rCache on. 

Limited Warranty

This program is provided as-is without warranty of any kind. The author will not be liable for damages of any kind arising out of use of this software.
</pre>
</p>
{% endblock %}
