<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>
{% block title %}
rCache.com - personal internet search cache and research tools
{% endblock %}
</title>
<LINK HREF="/media/css/base.css" REL="stylesheet"></LINK>
{% block js %}
<SCRIPT SRC="/media/js/rcachelib.js"></SCRIPT>
{% block mochi %}
<SCRIPT SRC="/media/js/MochiKit/MochiKit.js"></SCRIPT>
{% endblock %}
{% block dojo %}
<SCRIPT SRC="/media/js/dojo/dojo.js"></SCRIPT>
{% endblock %}
{% block yui %}
<script type="text/javascript" src="/media/js/yui/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="/media/js/yui/dom/dom-min.js"></script>
<script type="text/javascript" src="/media/js/yui/event/event-min.js"></script>
<script type="text/javascript" src="/media/js/yui/connection/connection-min.js"></script>
<script type="text/javascript" src="/media/js/yui/animation/animation-min.js"></script>
<script type="text/javascript" src="/media/js/yui-ext.js"></script>
{% endblock %}
{% endblock %}
{% block js_app %}
{% endblock %}
</head>
{% block body %}
<body>
{% endblock %}
<div id="wrapper">
{% block content %}
<h1>rCache.com</h1>
{% endblock %}
</div>
<div id="copyright"><br />&copy; 2005, 2006, 2007 rCache.com</div>
<br />
 <a href="http://getfirefox.com/" title="Get Firefox - The Browser, Reloaded."><img src="http://www.mozilla.org/products/firefox/buttons/firefox_80x15.png" width="80" height="15" border="0" target="_new" alt="Get Firefox"></a> 
</body>
</html>
