<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>
{% block title %}
rCache.com - personal internet search cache and research tools
{% endblock %}
</title>
<meta name="verify-v1" content="p9F7UHmtx1ISc7JrcVv/rXhXxCTbJ8bC2vKfFs1TNjQ=" />
<meta name="keywords" content="personal internet search cache and research tools web scraper">
<meta name="description" content="rCache is a powerful tool that lets you archive data from disparate sources. rCache is a web scraper, a bookmarking tool and more. Tag-based lookups as well as keyword searches can be performed on your data. Not a social site: rCache is for the serious researcher. rCache is that always-there place to store data that you want to refer back to. rCache works hand in glove with the best of breed web browser, Firefox">
<link rel="shortcut icon" href="/media/img/favicon.ico" type="image/x-icon" />
<link href="/media/css/base.css" rel="stylesheet"/>

{% block js %}
{% endblock %}
{% block js_app %}
{% endblock %}
</head>
{% block body %}
<body>
{% endblock %}
<div id="wrapper">
{% block content %}
<h1>rCache.com</h1>
{% endblock %}
</div>
{% block getfirefox %}
{% block copyright %}
<span id="copyright"><br />&copy; 2005, 2006, 2007 rCache.com &nbsp;</span>
{% endblock %}
{% include "rcache_version.html" %}
&nbsp;
 <a href="http://getfirefox.com/" title="Get Firefox - The Browser, Reloaded."><img src="http://www.mozilla.org/products/firefox/buttons/firefox_80x15.png" width="80" height="15" border="0" target="_new" alt="Get Firefox"/></a>
&nbsp;
{% endblock %}
</body>
</html>
