{% extends "firefox.html" %}
{% block js %}
{% endblock %}
{% block content %}
<div id="firefox_boundry">
  {% include "pub-menu.html" %}
<div class="message">
  <h1>Contact Us</h1>
  <p>
  Send an email to the rCache.com team. Make sure you "fix" the email address before sending.

  <br />
  <br />

  <a href="mailto:admin_at_rcache_dot_com">admin AT rcache dot com</a>

  <br /><br />
  
  We look forward to hearing from you.
  </p>
  <p>
  Read our <a href="/privacy/">PRIVACY POLICY</a> and our <a href="/agreement/">EULA</a>.

  </p>
  </div>
</div>
{% endblock %}
