{% extends "firefox.html" %}
{% block js %}
{% endblock %}
{% block content %}
<div id="firefox_boundry">
  {% include "pub-menu.html" %}
<div class="message">
  <h1>Contact Us</h1>
  <p>

  <h3>Click here if you <a href="https://collect.rcache.com/accounts/password/">Forgot your Password</a></h3>

  <h3>Questions? There are many ways to get in touch</h3>

  <h3>Support</h3>
  Feel free to ask questions, report bugs and request features via 
  the <a href="http://groups.google.com/group/rcache-talk/topics" target="_new">rCache-Talk Google Group</a>
  <br />

   <h3>Blog</h3>
  Announcements are on the  <a href="http://rcache.blogspot.com" target="_new">rCache Blog</a>
  <br />
  <h3>Email Us</h3>
  Send an email to the rCache.com team. Make sure you "fix" the email address before sending.
  <br />
  <a href="mailto:admin_at_rcache_dot_com">admin AT rcache dot com</a>
  <br />
  <br />
  We look forward to hearing from you.
  </p>
  <p>
  Read our <a href="/privacy/">PRIVACY POLICY</a> and our <a href="/agreement/">EULA</a>.

  </p>
  </div>
</div>
{% endblock %}
