{% extends "base.html" %}
{% block title %}
rCache.com - Detail
{% endblock %}
{% block body %}
<body>
<a name="top"></a>
{% endblock %}
{% block content %}
{% include "nav.html" %}
<div id="detail_wrapper">
{% for e in entry %}
<div id="detail_header">
  {% if coll_render %}
  <h4>This Entry is from your Colleague {{ colleague.login }}'s Research</h4>
  {% endif %}
  
  <span class="entry_detail_id">Entry # {{ e.id }}, Saved {{ e.date_created|timesince }} ago {{ e.date_created }}</span>
  {% if back_lnk %}
  <a class="button" href="{{ back_lnk }}">Back to Results</a>
  {% endif %}
<h2><a href="{{ e.entry_url }}" title="Original URL: {{ e.entry_url }}" target="_new">{{ e.entry_name }}</a></h2>
</div>
<div id="detail_tags">
  <span>Tags</span> &nbsp; 
{% for tag in tags %}
<a href="/tag/?tg={{ tag|urlencode }}" title="Filter your research by tag: {{ tag }}">{{ tag }}</a> &nbsp;
{% endfor %}
  {% if coll_render %}
  {% else %}
 <a href="/edit/{{ e.id }}/" title="Edit this entry" class="button">Edit</a>
 <a href="/remove/{{ e.id }}/" title="Remove this entry permanently" class="button">Remove</a>
  {% endif %}
  <a href="#links" title="Extracted Links" class="button">Links</a>
  <a href="#imgs" title="Extracted Images" class="button">Images</a>
</div>

<div id="detail_entry_text_long">
<div id="text_content_boundry">
  <pre>{{ e.text_content|urlize }}</pre>
</div>
</div>

{% if links_len %}
<div id="detail_links_header">
  <a name="links"></a>
  <ul>
    <li>Extracted Links</li>
    <li><a href="#top" class="button">Back to Top</a></li>
  </ul>
</div>
<div id="detail_links">
  <table id="link_table" cellspacing="0" cellpadding="0" border="0">
    {% for link in links %}
    <tr class="{% cycle tr-light,tr-dark %}">
      <td class="detail_link_list">
	<a href="{{ link.url }}" title="a link scraped from this entry's page" target="_new">{{ link.url }}</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% if imgs_len %}
<div id="detail_imgs_header"><h3>Extracted Images</h3></div>
<div id="detail_imgs">
{% for img in imgs %}
  <img src="{{ img.path }}" title="an image scraped from this entry's page"/><br />
  {% endfor %}
</div>
{% endif %}


{% endfor %}
</div>
{% endblock %}
