{% extends "base.html" %}
{% block body %}
<body>
{% endblock %}
{% block content %}
<div id="nav">
  <ul>
    <li><a href="/recent">Recently Cached</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</div>
{% for e in entry %}
<div id="detail_header">
<span class="entry_detail_id"># {{ e.id }}</span>    
<span class="entry_detail_title"><a href="{{ e.entry_url }}" target="_new">
  {{ e.entry_name }}</a></span>
<br />
</div>
<div id="detail">
<div id="text_content_boundry"><pre>{{ e.text_content }}</pre></div>
</div>
<div id="detail_links">
  {% for link in links %}
  <span class="detail_link_list"><a href="{{ link.url }}" title="a link scraped from this entry's page" target="_new">{{ link.url }}</a></span><br />
  {% endfor %}
</div>
<div id="detail_imgs">
{% for img in imgs %}
  <img src="{{ img.path }}" title="an image scraped from this entry's page"/><br />
  {% endfor %}
</div>

{% endfor %}
{% endblock %}
