{% extends "base.html" %}
{% block body %}
<body>
{% endblock %}
{% block content %}
<div id="nav">
  <ul>
    <li><a href="/new">New Entry</a></li>
    <li><a href="/recent">Recent Entries</a></li>
    <li><a href="/logout">Logout</a></li>
    <li>{{ user.first_name }} {{ user.last_name }}'s rCache</li>
  </ul>
</div>
<div id="detail_wrapper">
{% for e in entry %}
<div id="detail_header">
<span class="entry_detail_id"># {{ e.id }}</span>    
<span class="entry_detail_title"><a href="{{ e.entry_url }}" target="_new">
  {{ e.entry_name }}</a></span>
<br />
</div>
<div id="detail_tags">
{% for tag in tags %} <span class="detail_tag">{{ tag.tag }}</span> {% endfor %}
</div>
<div id="detail">
<div id="text_content_boundry"><pre>{{ e.text_content }}</pre></div>
</div>
<div id="detail_links">
  <table id="link_table" cellspacing="0" cellpadding="0" border="0">
    {% for link in links %}
    <tr class="{% cycle tr-light,tr-dark %}">
      <td class="detail_link_list">
	<a href="{{ link.url }}" title="a link scraped from this entry's page" target="_new">{{ link.url }}</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
<div id="detail_imgs">
{% for img in imgs %}
  <img src="{{ img.path }}" title="an image scraped from this entry's page"/><br />
  {% endfor %}
</div>
{% endfor %}
</div>
{% endblock %}
