{% extends "base.html" %}
{% block body %}
<body>
{% endblock %}
{% block content %}
{% include "nav.html" %}
<div id="firefox_boundry">
  <div class="message">
    The <strong>rCache Collector</strong> Firefox extension makes entering data into your rCache database fast and trivial.
    <br />
    <a href="/media/rcache.xpi"><strong>Install</strong></a> the rCache Collector extension.
    <ul>
      <li>Select an area on a web page by clicking and dragging your mouse.</li>
      <li>Click on the <i>rCache Collector</i> icon <img src="/media/img/database_save.png" border="0"/> on the status bar of your Firefox browser.</li>
      <li>Enter <i>Tags</i> (comma delimited)</li>
      <li>Click <i>Continue</i> </li>
      <li>Your selection is entered into the database, and the rCache Collector window goes away, unobtrusively.</li>
    </ul>
  </div>
  <div class="screenshot">
    <a href="/media/img/ffext_screen.png"><img src="/media/img/ffext_screen.png" width="500" height="427"
    style="display:table-cell;vertical-align:middle;padding-top:0px; padding-right:25px; padding-left:25px; margin: 10px; border:none"/></a>
  </div>
</div>
{% endblock %}
