{% extends "base.html" %}
{% block content %}
<div id="detail">
 {% include "pub-menu.html" %}
<div class="message">

  <div id="elevator-pitch">
    <p>
    <h4>Researchers need to be organized.</h4> All of their meticulously researched data needs to accessible 24 x 7.
    <br />
    Bookmarks may have been a good way to organize online information in the past, but linked resources tend to disappear:
    <br />
    <p>
    <img src="/media/img/404.png" border="0" width="384" height="156"/>
    </p>
    Sometimes these resources disappear altogether from the web, and are not even stored in search engine caches. This can be frustrating and waste valuable time.
    <br />
    <h1>rCache: your personal search repository.</h1>
    </p>
  </div>
<ul style="list-style-type:square;">
    <li class="info_list">rCache is a powerful tool that lets you archive data from many unrelated sources.</li>

    <li class="info_list">rCache is a web scraper, a bookmarking tool and more.</li>
    <li class="info_list">rCache can extract text from Word and PDF documents.</li>
    <li class="info_list">Tag-based lookups as well as keyword searches can be performed on your data.</li>
    <li class="info_list">rCache is for the serious researcher.</li>
    <li class="info_list">Create accounts for your Colleagues to give limited or full access to your Entries.</li>
    <li class="info_list">rCache is that always-there place to store data that you want to refer back to.</li>
    <li class="info_list">rCache works hand in glove with the best of breed web browser, Firefox&trade;</li>
  </ul>
  <a href="/about/">More...</a>
</div>
<div>
</div>
</div>
{% endblock %}
