{% extends "base.html" %}
{% block content %}
<div id="text_content_boundry">
<div>
  <h1>rCache.com</h1>
</div>
<div>
  <a href="/login/">Login</a>
</div>
<div>
<UL>
    <LI CLASS="info_list">rCache is a powerful tool that lets you archive data from disparate sources.</LI>
    <LI CLASS="info_list">It is a web scraper, a bookmarking tool and more.</LI>
    <LI CLASS="info_list">Tag-based lookups as well as keyword searches can be performed on your data.</LI>
    <LI CLASS="info_list">Not a social site: rCache is for the serious researcher.</LI>
    <LI CLASS="info_list">rCache is that always-there place to store data, notate, and refer back to.</LI>

  </UL>
</div>
</div>
{% endblock %}
