{% extends "base.html" %}
{% block title %}
rCache.com - New Entry
{% endblock %}
{% block body %}
<body>
{% endblock %}
{% block content %}
{% include "nav.html" %}
<div id="detail_wrapper">
<div id="detail">
  <p class="message">New Entry Functionality is in progress.
  <br/><br/>
  A new entry created from this web interface will generally be for entries that you write, paste in, or are the result of a file upload: PDF, Word, etc...
  <br /><br/>
  <strong>rCache</strong> will provide server-side scrapers for Word, PDF and other formats. 

  </p>
</div>
</div>
{% endblock %}
