{% extends "base.html" %}
{% block body %}
<body>
{% endblock %}
{% block content %}
<div id="nav">
  <ul>
    <li><a href="/new">New Entry</a></li>
    <li><a href="/recent">Recent Entries</a></li>
    <li><a href="/logout">Logout</a></li>
    <li>{{ user.first_name }} {{ user.last_name }}'s rCache</li>
  </ul>
</div>
<div id="detail">
  <p class="message">New Entry Functionality is in progress.
  <br/><br/>
  A new entry created from this web interface will generally be for entries that you write, paste in, or are the result of a file upload: PDF, Word, etc...
  <br /><br/>
  <strong>rCache</strong> will provide server-side scrapers for Word, PDF and other formats. 

  </p>
</div>

{% endblock %}
