{% extends "activation.html" %}
{% block title %}
rCache - Change Your Password
{% endblock %}
 {% block func_title %}
   <div><h1>Change Password</h1></div>
    {% endblock %}
{% block activate_content %}
<div class="message">
{% if message %}
<div class="error_message">Error: {{ message }}</div>
{% endif %}
Enter your new password and confirm to change your password.
<h4>{{ user.login }}</h4>

<form action="/accounts/password/change/" method="post">
<input class="hideme" type="hidden" name="hk" value="{{ hk }}"/>

<label for="id_passwordact">Password</label>
<input type="password" name="password" id="id_password" maxlength="45"/>
<br />
<label for="id_password_conf">Confirm Password</label>
<input type="password" name="password_conf" id="id_password_conf" maxlength="45"/>
<br />
<label for="id_submit">&nbsp;</label>
<input type="submit" id="id_submit" value="Change Password"/>
</form>
</div>
{% endblock %}
