{% extends "account.html" %}
{% block js %}
{% endblock %}
{% block account_title %}
<h1>rCache Privacy Policy</h1>
{% endblock %}
{% block account_content %}
<p>
<pre>
This is the web site of rCache.com.

rCache.com respects it's user's privacy in the utmost fashion.

We can be reached via e-mail at admin at rcache dot com

For each visitor to our site, our Web server automatically recognizes no information regarding the domain or e-mail address.

We collect information volunteered by the user, such as survey information and/or site registrations, no information on users who browse our Web page.

The information we collect is used for internal review and is then discarded.

With respect to cookies: We use cookies to record session information, for instence: to provide for the automatic login of the rCache Firefox extension.

If you do not want to receive e-mail from us in the future, please let us know by sending us e-mail at the above address.

With respect to Ad Servers: We do not partner with or have special relationships with any ad server companies.

Upon request we provide site visitors with access to all information that we maintain about them, communications that the user/visitor has directed to our site (e.g., e-mails, customer inquiries), contact information (e.g., name, address, phone number) that we maintain about them. It is not a requirement for users to disclose their name or address. We only require a working email address.

Users can access this information by e-mail us at the above address.

Most importantly, the user's rCache data is their data, not the property of rCache.com. Users are entitled to a full CSV-formatted dump (delivered via HTTPS) if and when he/she decides to cancel their account. Afterward, all of the user's data is removed from the rCache database. 


With respect to security: We have appropriate security measures in place in our physical facilities to protect against the loss, misuse or alteration of information that we have collected from you at our site.

If you feel that this site is not following its stated information policy, you may contact us at the above addresses or phone number.
</pre>
</p>
{% endblock %}
