{% extends "base.html" %}
{% block body %}
<body>
{% endblock %}
{% block content %}
<div id="nav">
  <ul>
    <li><a href="/new">New Entry</a></li>
    <li><a href="/recent">Recent Entries</a></li>
    <li><a href="/logout">Logout</a></li>
    <li>{{ user.first_name }} {{ user.last_name }}'s rCache</li>
  </ul>
</div>
<div id="search_results_grid">
  <table id="recent_grid" cellspacing="0" cellpadding="0" border="0">
    <tr class="tr-dark">
      <td><strong>Title</strong></td>
      <td><strong>URL</strong></td>
      <td><strong>Date</strong></td>
    </tr>
    {% for e in entries %}
    <tr class="{% cycle tr-light,tr-dark %}">
      <td><a href="/detail/{{ e.id }}/">{{ e.entry_name }}</a></td>
      <td><a href="{{ e.entry_url }}" title="{{ e.entry_url }}">Go</a></td>
      <td>{{ e.date_created }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
