{% extends "base.html" %}
{% block body %}
<body>
{% endblock %}
{% block content %}
<div id="nav">
  <ul>
    <li><a href="/recent">Recently Cached</a></li>
    <li><a href="/logout">Logout</a></li>
    <li>{{ user.first_name }} {{ user.last_name }}</li>
  </ul>
</div>
<div id="search_results_grid">
  <table id="recent_grid">
    <th>Title</th>
    <th>URL</th>
    <th>Date</th>
    {% for e in entries %}
    <tr>
      <td><a href="/detail/{{ e.id }}/">{{ e.entry_name }}</a></td>
      <td><a href="{{ e.entry_url }}" title="{{ e.entry_url }}">Go</a></td>
      <td>{{ e.date_created }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
