{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>
{% block title %}
{% trans "rCache.com - personal internet search cache and research tools" %}
{% endblock title %}
</title>
<meta name="keywords" content="{% trans "personal internet search cache and research tools web scraper" %}" />
<meta name="description" content="{% trans "rCache is a powerful tool that lets you archive data from disparate sources. rCache is a web scraper, a bookmarking tool and more. Tag-based lookups as well as keyword searches can be performed on your data. Not a social site: rCache is for the serious researcher. rCache is that always-there place to store data that you want to refer back to. rCache works hand in glove with the best of breed web browser, Firefox" %}" />
<meta name="verify-v1" content="p9F7UHmtx1ISc7JrcVv/rXhXxCTbJ8bC2vKfFs1TNjQ=" />
<link rel="shortcut icon" href="/media/img/favicon.ico" type="image/x-icon" />
<link href="/media/css/redefines.css" rel="stylesheet" />
<link href="/media/css/dynamic-width.css" rel="stylesheet" />
<link href="/media/css/nav.css" rel="stylesheet" />
<link href="/media/css/homepage.css" rel="stylesheet" />
<!--<script type="text/javascript" src="/jsi18n/rcache/"></script>-->
<script type="text/javascript" src="/media/js/rcachelib.js"></script>
<script type="text/javascript" src="/media/js/jquery.min.js"></script>
<script>
  var j = jQuery.noConflict();
</script>
{% block js %}{% endblock js %}
{% block js_app %}{% endblock js_app %}
</head>
{% block body %}
<body>
{% endblock body %}
<a name="top"></a>
<div id="wrapper">
  <div id="wrapper-inner">
    {% block content %}
    <h1>rCache.com</h1>
    {% endblock content %}
  </div>
</div>
<div id="footer">
  {% block getfirefox %}
  {% block copyright %}
  <span id="copyright">&copy; 2008 rCache.com &nbsp;</span>
  {% endblock copyright %}
  {% include "rcache_version.html" %} <a href="http://getfirefox.com/" title="Get Firefox - The Browser, Reloaded.">{% trans "Get Firefox" %}.</a>
  {% endblock getfirefox %}
</div>
</body>
</html>
