{% load i18n %}
{% extends "base.html" %}
{% block js %}
{% endblock %}
{% block content %}
{% include "pub-menu.html" %}  
<div id="rcache-collector" class="page-cols">
  <div class="col-left">
    <h1>{% trans "rCache Collector" %}</h1>
    <p>
    <a name="collector"></a>
    {% trans "The " %}<strong>{% trans "rCache Collector" %}</strong> {% trans "Firefox extension makes entering data into your rCache database fast and trivial." %} 
    </p>
    <p>
      <a href="/media/rcache.xpi">{% trans "Download" %} rCache Collector</a>
      </p>
    </div>
  <div class="col-middle">
    <a href="/media/img/ffext_screen.png" title="Click to see larger image" target="_blank">
      <img src="/media/img/ffext_screen.jpg"/></a>
  </div>
  <div class="col-right">
    <ul class="instr">
      <li>{% trans "Select an area on a web page by clicking and dragging your mouse." %}</li>
      <li>{% trans "Click on the" %} <i>{% trans "rCache Collector" %}</i> {% trans "icon" %} <img src="/media/img/database_save.png" border="0"/> {% trans "on the status bar of your Firefox browser." %}</li>
      <li>{% trans "Enter Tags (comma delimited)" %}</li>
      <li>{% trans "Click Continue" %} </li>
      <li>{% trans "Your selection is entered into the database, and the rCache Collector window goes away, unobtrusively." %}</li>
    </ul>
    </div>
  </div>
{% endblock content %}
