{% load i18n %}
{% extends "new_entry.html" %}
{% block title %}
{% trans "rCache.com - Colleagues" %}
{% endblock %}
{% block content %}
{% include "nav.html" %}
<div id="detail_wrapper">
  <div id="colleague_list">
    <a class="button" href="/colleague/new/">{% trans "Create a New Colleague" %}</a>
<br />
<br />
    <h5>{% trans "You have" %} {{ colleagues_cnt }} {% trans "Colleague" %}{{ colleagues_cnt|pluralize }}</h5>
    <br />
    {% if colleagues %}
    <table cellpadding="0" cellspacing="0" id="colleague-table">
      <tr>
	<td><strong>{% trans "Email" %}</strong></td>
	<td colspan="3">&nbsp;</td>
      </tr>
    {% endif %}
    {% for colleague in colleagues %}
      <tr class="{% cycle tr-dark,tr-light %}">
	<td>{{ colleague.colleague.email }}</td>
	<td>{% if colleague.active %}
	    Active
	    {% else %}
	    {% trans "*Not Active*" %}
	    {% endif %}
	</td>
	<td><a class="button" href="/colleague/{{ colleague.colleague.id }}/research/" title="{% trans "View the research of" %} {{ colleague.colleague.email }}">{% trans "View Research" %}</a></td>
	<td><a class="button" href="/colleague/{{ colleague.id }}/" title="{% trans "Edit Privileges" %}">{% trans "Edit" %}</a></td>
      </tr>
    {% endfor %}
      {% if colleagues %}
      </table>
      {% endif %}
  </div>
</div>
</div>
{% endblock %}
