{% load i18n %}
{% extends "base.html" %}
{% block title %}
rCache.com - {{ entry.entry_name }}
{% endblock %}
{% block body %}
<body>
{% endblock %}
{% block content %}
{% include "nav.html" %}
<div id="detail_wrapper">
<a name="top"></a>
<div id="detail_entry_text_long">

<div id="text_content_boundry">
  <pre>{{ escaped_text_content|urlize }}</pre>
</div>
</div>

<a name="links"></a>
<div id="detail_links_header">
  <ul>
    <li><strong>{% trans "Extracted Links" %}</strong></li>
    <li><a href="#top">{% trans "Back to Top" %}</a></li>
  </ul>
</div>
{% if links_len %}
<div id="detail_links">
  <table id="link_table" cellspacing="0" cellpadding="0" border="0">
    {% for link in links %}
    <tr class="{% cycle tr-light,tr-dark %}">
      <td class="detail_link_list" id="link-{{ link.id }}">
	<a class="js-lnk" onclick="rcache.xhr.entries_with_link({{ link.id }});">Entries That Link To...</a> <a href="{{ link.url }}" title="{% trans "a link scraped from this entry's page" %}" target="_new">{{ link.url }}</a>
          <div id="link-entries-{{ link.id }}"></div>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% else %}
<div class="notice_message"><h4>{% trans "No Links Extracted" %}</h4></div>
{% endif %}
<a name="imgs"></a>
<div id="detail_imgs_header">
  <ul>
    <li><strong>{% trans "Extracted Images" %}</strong></li>
    <li><a href="#top">{% trans "Back to Top" %}</a></li>
  </ul>
</div>
{% if imgs_len %}
<div id="detail_imgs">
{% for img in imgs %}
  <img src="{{ img.path }}" title="{% trans "an image scraped from this entry's page" %}"/><br />
  {% endfor %}
</div>
{% else %}
<div class="notice_message"><h4>{% trans "No Images Extracted" %}</h4></div>
{% endif %}

</div>
{% endblock %}
