{% load i18n %}
{% extends "base.html" %}
{% block title %}
rCache.com - {{ entry.entry_name }}
{% endblock %}
{% block body %}
<body>
{% endblock %}
{% block content %}
{% include "nav.html" %}
<div id="detail_wrapper">
<div id="nav-wrap">
	{% if detail_header %}
	{% include "detail_header.html" %}
	{% endif %}
	<div id="dia" class="jqmWindow" style="z-index:3000; display:none;"></div>
</div>

<a name="top"></a>
<div id="detail_entry_text_long">
	<h3><span class="entry_detail_id">{% trans "Entry" %} {{ entry.id }} </span> {{ entry.date_created }}</h3>
<div id="text_content_boundry">
	{# EDIT NAV #}
	<ul class="nav-edit">
		{% if coll_render %}
		{% else %}
		<li><a href="/edit/{{ entry.id }}/" title="{% trans "Edit this entry" %}"><img src="/media/img/note_edit.png" height="24" width="24"></a></li>
		<li><a href="/remove/{{ entry.id }}/" title="{% trans "Remove this entry permanently" %}"><img src="/media/img/cross.png" height="24" width="24"></a></li>
		{% endif %}
		<li><a href="#links" title="{% trans "Extracted Links" %}"><img src="/media/img/link.png" height="24" width="24"></a></li>
		<li><a href="#imgs" title="{% trans "Extracted Images" %}"><img src="/media/img/picture.png" height="24" width="24"></a></li>
		<!-- <a href="/commentary/{{ entry.id }}/" title="{% trans "New/Edit Commentary" %}" class="button">{% trans "Commentary" %}</a> -->
	</ul>
	{# END EDIT NAV #}
	<h1><a href="{{ entry.entry_url }}" title="Original URL: {{ entry.entry_url }}" target="_new">{{ entry.entry_name }}</a></h1>
	<pre>{{ escaped_text_content|urlize }}</pre>
</div>
</div>
</div>
{% endblock %}
