{% extends "base.html" %}
{% block title %}
rCache.com - Detail
{% endblock %}
{% block body %}
<body>
{% endblock %}
{% block content %}
{% include "nav.html" %}
<div id="detail_wrapper">
  <div id="global_page_title">
<div id="detail_header">
  {% if coll_render %}
  <h4>This Entry is from your Colleague {{ colleague.login }}'s Research</h4>
  {% endif %}
<h2><a href="{{ entry.entry_url }}" title="Original URL: {{ entry.entry_url }}" target="_new">{{ entry.entry_name }}</a>   <span class="entry_detail_id">Entry # {{ entry.id }}, Saved {{ entry.date_created|timesince }} ago {{ entry.date_created }}</span></h2>
</div>
</div>
<div id="detail_tags">
  <strong>Tags:</strong> &nbsp; 
  {% for tag in tags %}
<a href="/tag/?tg={{ tag|urlencode }}" title="Filter your research by tag: {{ tag }}">{{ tag }}</a> &nbsp; 
  {% endfor %}
   &nbsp; &nbsp; &nbsp; 
  {% if coll_render %}
  {% else %}
 <a href="/edit/{{ entry.id }}/" title="Edit this entry" class="button">Edit</a>
 <a href="/remove/{{ entry.id }}/" title="Remove this entry permanently" class="button">Remove</a>
  {% endif %}
  <a href="#links" title="Extracted Links" class="button">Links</a>
  <a href="#imgs" title="Extracted Images" class="button">Images</a>
  <!-- <a href="/commentary/{{ entry.id }}/" title="New/Edit Commentary" class="button">Commentary</a> -->

  {% if back_lnk %}
  <a class="button" href="{{ back_lnk }}">Back</a>
  {% endif %}
  {% if recent_enhanced %}
  <a class="button" href="javascript:history.go(-1)">Back</a>
  {% endif %}
</div>

<div id="keywords">
  <strong>Keywords:</strong> &nbsp;
  {% for kwd in entry_attrs.kwords %}
  <a href="/tag/?tg={{ kwd }}">{{ kwd }}</a> &nbsp;
  {% endfor %}
</div>

<div id="detail_entry_text_long">
<div id="text_content_boundry">
  <pre>{{ escaped_text_content|urlize }}</pre>
</div>
</div>



<a name="links"></a>
<div id="detail_links_header">
  <ul>
    <li><strong>Extracted Links</strong></li>
    <li><a href="#top">Back to Top</a></li>
  </ul>
</div>
{% if links_len %}
<div id="detail_links">
  <table id="link_table" cellspacing="0" cellpadding="0" border="0">
    {% for link in links %}
    <tr class="{% cycle tr-light,tr-dark %}">
      <td class="detail_link_list">
	<a href="{{ link.url }}" title="a link scraped from this entry's page" target="_new">{{ link.url }}</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% else %}
<div class="notice_message"><h4>No Links Extracted</h4></div>
{% endif %}
<a name="imgs"></a>
<div id="detail_imgs_header">
  <ul>
    <li><strong>Extracted Images</strong></li>
    <li><a href="#top">Back to Top</a></li>
  </ul>
</div>
{% if imgs_len %}
<div id="detail_imgs">
{% for img in imgs %}
  <img src="{{ img.path }}" title="an image scraped from this entry's page"/><br />
  {% endfor %}
</div>
{% else %}
<div class="notice_message"><h4>No Images Extracted</h4></div>
{% endif %}

</div>
{% endblock %}
