{% load i18n %}
<div id="detail_header">
  {% if coll_render %}
  <h4>{% blocktrans %}This Entry is from your Colleague {{ colleague }}'s Research{% endblocktrans %}</h4>
  {% endif %}
<h2><a href="{{ entry.entry_url }}" title="Original URL: {{ entry.entry_url }}" target="_new">{{ entry.entry_name }}</a>  <span class="entry_detail_id">{% trans "Entry #" %} {{ entry.id }},  {% trans "Date Cached:" %} {{ entry.date_created }}</span></h2>
</div>
<div id="detail_tags">
  <strong>{% trans "Tags:" %}</strong> &nbsp; 
  {% for tag in tags %}
<a href="/tag/?tg={{ tag|urlencode }}" title="{% blocktrans %} Filter your research by tag: {{ tag }} {% endblocktrans %}">{{ tag }}</a> &nbsp; 
  {% endfor %}
   &nbsp; &nbsp; &nbsp; 
  {% if coll_render %}
  {% else %}
 <a href="/edit/{{ entry.id }}/" title="{% trans "Edit this entry" %}" class="button">{% trans "Edit" %}</a>
 <a href="/remove/{{ entry.id }}/" title="{% trans "Remove this entry permanently" %}" class="button">{% trans "Remove" %}</a>
  {% endif %}
  <a href="#links" title="{% trans "Extracted Links" %}" class="button">{% trans "Links" %}</a>
  <a href="#imgs" title="{% trans "Extracted Images" %}" class="button">{% trans "Images" %}</a>
  <!-- <a href="/commentary/{{ entry.id }}/" title="{% trans "New/Edit Commentary" %}" class="button">{% trans "Commentary" %}</a> -->

  {% if back_lnk %}
  <a class="button" href="{{ back_lnk }}">{% trans "Back" %}</a>
  {% endif %}
  {% if recent_enhanced %}
  <a class="button" href="javascript:history.go(-1)">{% trans "Back" %}</a>
  {% endif %}
</div>

<div id="keywords">
  <strong>{% trans "Keywords:" %}</strong> &nbsp;
  {% for kwd in entry_attrs.kwords %}
  <a onclick="rcache.xhr.related_add_kword('{{ kwd }}');">{{ kwd }}</a> &nbsp;
  {% endfor %}
</div>
<div id="related-docs-header" title="{% trans "Click on any of the above keywords, then click 'Show Related Documents'" %}"><strong>{% trans "Related Documents:" %}</strong> <span id="related-doc-keywords"></span>  <a onclick="rcache.xhr.related_docs_custom_kwords()" title="{% trans "Get Related Documents" %}" class="button">{% trans "Get Related Documents" %}</a>
 <a onclick="rcache.xhr.related_docs_custom_kwords_clear()" title="{% trans "Clear Keywords" %}" class="button">{% trans "Clear Keywords" %}</a>
</div>
<div id="related-docs"></div>
