{% load i18n %}
<div id="search-nav">
  	<h4>{% trans "Search" %}</h4>
	<input name="search_query" id="search-inpt" maxlength="40" value="{% trans "Search..." %}" onclick="rcache.xhr.clear_input(this);" onkeydown="checkSubmission(event);"/>
</div>
<div id="detail_header">
  {% if coll_render %}
  <h4>{% blocktrans %}This Entry is from your Colleague {{ colleague }}'s Research{% endblocktrans %}</h4>
  {% endif %}
</div>
<div id="detail_tags">
  <h4>{% trans "Tags" %}</h4>
  {% for tag in tags %}
	<a href="/tag/?tg={{ tag|urlencode }}" title="{% blocktrans %} Filter your research by tag: {{ tag }} {% endblocktrans %}">{{ tag }}</a> 
  {% endfor %}
</div>

<div id="keywords">
  <h4>{% trans "Keywords" %}</h4>
  {% for kwd in entry_attrs.kwords %}
  <a onclick="rcache.xhr.related_add_kword('{{ kwd }}');">{{ kwd }}</a>
  {% endfor %}
</div>
<div id="related-docs-header" title="{% trans "Click on any of the above keywords, then click 'Show Related Documents'" %}">
	<h4>{% trans "Related Documents" %}</h4> 
	<span id="related-doc-keywords"></span>
	<a onclick="rcache.xhr.related_docs_custom_kwords()" title="{% trans "Get Related Documents" %}" class="rounded button">{% trans "Get Related Documents" %}</a>
 	<a onclick="rcache.xhr.related_docs_custom_kwords_clear()" title="{% trans "Clear Keywords" %}" class="rounded button">{% trans "Clear Keywords" %}</a>
</div>
<div id="related-docs"></div>

<a name="links"></a>
	<div id="detail_links_header">
	    <h4>{% trans "Extracted Links" %}</h4>
	</div>
{% if links_len %}
	<div id="detail_links">
	  <table id="link_table" cellspacing="0" cellpadding="0" border="0">
	    {% for link in links %}
	    <tr class="{% cycle tr-light,tr-dark %}">
	      <td class="detail_link_list" id="link-{{ link.id }}">
		<a class="js-lnk" onclick="rcache.xhr.entries_with_link({{ link.id }});">Entries That Link To...</a> <a href="{{ link.url }}" title="{% trans "a link scraped from this entry's page" %}" target="_new">{{ link.url }}</a>
	          <div id="link-entries-{{ link.id }}"></div>
	      </td>
	    </tr>
	    {% endfor %}
	  </table>
	</div>
{% else %}
<div class="notice_message">{% trans "No Links Extracted" %}</div>
{% endif %}
<a name="imgs"></a>
<div id="detail_imgs_header">
    <h4>{% trans "Extracted Images" %}</h4>
</div>
{% if imgs_len %}
<div id="detail_imgs">
{% for img in imgs %}
  <img src="{{ img.path }}" title="{% trans "an image scraped from this entry's page" %}"/><br />
  {% endfor %}
</div>
{% else %}
<div class="notice_message">{% trans "No Images Extracted" %}</div>
{% endif %}
