{% extends "base.html" %}
{% block content %}
	{% include "pub-menu.html" %}
	<div class="frontpage-cols">
		<div class="col-archive">
			<ul>
				<li class="title"><h1>Archive.</h1></li>
				<li class="body">Collect data from webpages, PDFs, Word Documents, and other resources.</li>
				<li class="body">Extract text from documents, and store snippets.</li>
			</ul>
		</div>
		<div class="col-index">
			<ul>
				<li class="title"><h1>Index.</h1></li>
				<li class="body">Index your research in a searchable, browseable, secure database.</li>
				<li class="body">Tag your entries, and filter by sources, dates, and more.</li>
				<li class="body">Use an RSS reader to keep track of your most recent entries and tag-based lookups into your data.</li>
			</ul>
		</div>
		<div class="col-share">
			<ul>
				<li class="title"><h1>Share.</h1></li>
				<li class="body">You can choose to give your colleagues access to your research data at various levels of custom access.</li>
				<li class="body">Restrict access based on tags, or keyword limiting.</li>
			</ul>
		</div>
	<br class="clearit">
	</div>
	<!--
	<div class="message">
		<div id="elevator-pitch">
			<p>
			<h3>Researchers need to be organized.</h3> All of their meticulously researched data needs to accessible 24 x 7.
			<br />
			Bookmarks may have been a good way to organize online information in the past, but linked resources tend to disappear:
			<br />
			<p>
			<img src="/media/img/404.png" border="0" width="384" height="156"/>
			</p>
			Sometimes these resources disappear altogether from the web, and are not even stored in search engine caches. This can be frustrating and waste valuable time.
			<br />
			<h3>rCache: your personal research repository</h3>
			</p>
		</div>
		<ul style="list-style-type:square;">
			<li class="info_list">rCache is a powerful tool that lets you archive data from many unrelated sources.</li>
			<li class="info_list">rCache is a web scraper, a bookmarking tool and more.</li>
			<li class="info_list">rCache can extract text from Word and PDF documents.</li>
			<li class="info_list">Tag-based lookups as well as keyword searches can be performed on your data.</li>
			<li class="info_list">rCache is for the serious researcher.</li>
			<li class="info_list">Create accounts for your Colleagues to give limited or full access to your Entries.</li>
			<li class="info_list">rCache is that always-there place to store data that you want to refer back to.</li>
			<li class="info_list">rCache works hand in glove with the best of breed web browser, Firefox&trade;</li>
		</ul>
		<a href="/about/">More...</a>
	</div>
	-->
{% endblock content %}
