{% load i18n %}
{% extends "base.html" %}
{% block js %}
{% endblock %}
{% block content %}
{% include "pub-menu.html" %}
<div id="login-screen" class="page-cols">
  <p>
    <h1>{% trans "Login Error" %}</h1>
    <p>
      If you have forgotten your password, please click <a href="/accounts/password/">here</a>.
      
    </p>
    <p>
      Please <a href="/contact/">contact us</a> if you have any other problems logging in or using rCache.
  </p>

</div>
{% endblock %}
{% block getfirefox %}
{% endblock %}
