{% extends "login.html" %}
{% block js %}
{% endblock %}
{% block body %}
<body>
{% endblock %}
{% block content %}
{% include "pub-menu.html" %}

<div class="page-cols">
  <p>
  <h1>Forgot your password?</h1>
  </p>
  <p>
   <ul>
     {% if message %}
     <li>
       <div style="color:#f00;">{{ message }}</div>
     </li>
     {% endif %}

     {% if email_sent %}
     {% else %}
     <li>
	Please enter your email address. You will be sent directions to update your password.
      </li>
      <li>
	<form action="/accounts/password/" method="POST">
	  <label for="email">Email Address </label>
	  <input type="text" name="login" maxlength="60" size="20"/>
	  <input type="submit" name="loginbutton" value="Change Password"/>
	</form>
      </li>
    </ul>
  {% endif %}
  </p>
</div>


{% endblock %}
{% block getfirefox %}
{% endblock %}
