{% extends "base.html" %}
{% block title %}
rCache - Change Your Password
{% endblock %}
{% block content %}
{% include "pub-menu.html" %}
<div id="detail_wrapper">
  {% block passwd_change %}
  <p>
    <h1>Change Password</h1>
    <div>
      {% if message %}
      <div class="error_message">Error: {{ message }}</div>
      {% endif %}
      Enter your new password and confirm in order to change your password.
      <h4>{{ user.login }}</h4>
      
      <form class="aligned" action="/accounts/password/change/" method="post">
	<input class="hideme" type="hidden" name="hk" value="{{ hk }}"/>
	
	<label for="id_passwordact">Password</label>
	<input type="password" name="password" id="id_password" maxlength="45"/>
	<br />
	<label for="id_password_conf">Confirm Password</label>
	<input type="password" name="password_conf" id="id_password_conf" maxlength="45"/>
	<br />
	<label for="id_submit">&nbsp;</label>
	<input type="submit" id="id_submit" value="Change Password"/>
      </form>
    </div>
  </p>
  {% endblock %}
</div>
{% endblock %}
