{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans "rCache.com - Recent Entries" %}
{% endblock %}
{% block js_app %}
<script type="text/javascript">
$(document).ready(
    function() {
    $("#recent-ingrid").ingrid({ 
    url: '/recentgrid/',
    initialLoad:true,
    height:500,
    onRowSelect:function(tr,selected){alert(tr); var url = "/detail/" + tr.id + "/"; document.location = url;},
    colWidths: [40,600,200,240],
    rowHoverClass: 'grid-row-hover',
    rowSelection: true
    });
 }
); 
</script>
{% endblock %}
{% block body %}
<body>
{% endblock %}
{% block content %}
{% include "nav.html" %}
<div id="detail_wrapper">
  
<div id="search_results_grid">
  <table id="recent-ingrid" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
    <thead>
      <tr>
	<th>Id</th>
	<th>Title</th>
	<th>rCached</th>
	<th>Tags</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      </tbody>
    </table>
</div>

</div>
{% endblock %}
