{% extends "base.html" %}
{% block title %}
rCache.com - Search
{% endblock %}
{% block body %}
<body>
{% endblock %}
{% block content %}
{% include "nav.html" %}
<div id="detail_wrapper">
  {% block search_content %}
  {% if errormsg %}
  <p class="message">
    <strong><i>Please Enter a Search Term.</i></strong>
  </p>
  {% endif %}
  <form action="/search/" method="POST">
    <label for="search_str">Search</label>
    <input type="text" name="search_str" maxlength="40" size="40"/>
    <input id="search_button" type="submit" name="search_btn" value="Search"/>
  </form>
  <br />
  {% endblock %}
</div>
{% endblock %}
