{% load i18n %}
{% extends "search.html" %}
{% block title %}
{% trans "rCache.com - Filter Entries" %}
{% endblock %}
{% block search_content %}
<div id="global_page_title">
  <h1>{% trans "Filter by:" %}</h1>
    <div id="filter-menu">
      <ul>
	{% block filter_menu %}
	<li class="selected">{% trans "Tags" %}</li>
	<li><a href="/filter/domains/">{% trans "Domains" %}</a></li>
	{% endblock %}
      </ul>
    </div>
</div>
<div class="the_lists">
{% block the_list %}
{% for tag in tags %}
<a href="/tag/?tg={{ tag.0 }}">{{ tag.0 }}</a> &nbsp;
{% endfor %}
<br/><br/>
<a class="button" href="/taglist/?op=all">{% trans "Show All Tags" %} </a> &nbsp;
  <a class="button" href="/taglist/?op=alpha">{% trans "Show Tags Alphabetically" %}</a>
{% endblock %}
</div>
<div id="tag-menu">
  <ul>
    <li><strong>{% trans "Tag Tools" %}</strong></li>
    <li class="selected">
      <a href="/filter/tags/maintenence/" class="button" title="{% trans "Remove Empty Tags" %}">{% trans "Tag Maintenence" %}</a>
    </li>
    <li class="selected">
      <a href="/filter/tags/editor/" class="button" title="{% trans "Edit and remove Tags" %}">{% trans "Tag Editor" %}</a>
    </li>
  </ul>
</div>
{% block search_slow_msg %}
{% endblock %}
{% endblock %}
