{% load i18n %}
{% extends "search.html" %}
{% block title %}
{% trans "rCache.com - Tag Editor" %}
{% endblock %}
{% block search_content %}
<div id="filter-menu" class="message">
  {% if msg %}
  <div class="instructions">{{ msg }}</div>
  {% endif %}
  {% if form %}
  <form action="." method="post" class="aligned">
  {{ form.as_ul }}
  <br />
  <input type="hidden" name="tag_id" value="{{ tag_id }}" class="hidden"/>
  <label for="id-submit">&nbsp;</label>
  <input type="submit" value="{% trans "Save" %}" id="id_submit"/> 
  </form>
  
  </br />&nbsp;
  <br >&nbsp;
  {% endif %}
</div>
<div id="tag-menu">
  <ul>
    <li><strong>{% trans "Tag Tools" %}</strong></li>
    <li class="selected">
      <a href="/filter/tags/maintenence/" class="button" title="{% trans "Remove Empty Tags" %}">{% trans "Tag Maintenence" %}</a>
    </li>
    <li class="selected">
      <a href="/filter/tags/editor/" class="button" title="{% trans "Edit and remove Tags" %}">{% trans "Tag Editor" %}</a>
    </li>
  </ul>
</div>
{% block search_slow_msg %}
{% endblock %}
{% endblock %}
