#rcache-status {
    font:11px 'trebuchet ms', verdana, sans-serif;
}
#rcache-panel {
    cursor: pointer;
    font:11px 'trebuchet ms', verdana, sans-serif;
}
#rcache-panel-sel {
    cursor: pointer;
    font:11px 'trebuchet ms', verdana, sans-serif;
}
#statusmsg {
     font:13px color:#00F; 'trebuchet ms', verdana, sans-serif;
}
